---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import { Image } from "astro:assets";


import imgEarth from '../assets/BlueMarble.jpg';
import imgJupiter from '../assets/jupiter.jpg';
import imgLuna from '../assets/luna.jpg';
import imgMercury from '../assets/mercury.jpg';
import imgNeptune from '../assets/neptune.jpg';
import imgSaturn from '../assets/saturn.jpg';
import imgSol from '../assets/sun.jpg';
import imgUranus from "../assets/uranus.jpg";
import imgVenus from '../assets/venus.jpg';
import imgPleiades from '../assets/pleiades.jpg'

---

<BaseLayout
	title="Planets | Stellar Discussions"
	description="Hear what the spirit of the planets and stars have to say."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Planets"
				tagline="Hear what the spirit of the planets and stars have to say."
				align="start"
			/>
			<Grid variant="small">
				{
					<a class="card" href={`/earth/`}>
						<span class="title">{'Earth'}</span>
						<Image
							src={imgEarth}
							alt={"The planet Earth"}
							loading="lazy"
							decoding="async"
						/>
					</a>
					
					<a class="card" href={`/jupiter/`}>
						<span class="title">{'Jupiter'}</span>
						<Image
							src={imgJupiter}
							alt={"The planet Jupiter"}
							loading="lazy"
							decoding="async"
						/>
					</a>

					<a class="card" href={`/luna/`}>
						<span class="title">{'Luna'}</span>
						<Image
							src={imgLuna}
							alt={"Earth's Moon Luna"}
							loading="lazy"
							decoding="async"
						/>
					</a>

					<a class="card" href={`/mercury/`}>
						<span class="title">{'Mercury'}</span>
						<Image
							src={imgMercury}
							alt={"The planet Mercury"}
							loading="lazy"
							decoding="async"
						/>
					</a>

					<a class="card" href={`/neptune/`}>
						<span class="title">{'Neptune'}</span>
						<Image
							src={imgNeptune}
							alt={"The planet Neptune"}
							loading="lazy"
							decoding="async"
						/>
					</a>

					<a class="card" href={`/saturn/`}>
						<span class="title">{'Saturn'}</span>
						<Image
							src={imgSaturn}
							alt={"The planet Saturn"}
							loading="lazy"
							decoding="async"
						/>
					</a>

					<a class="card" href={`/sol/`}>
						<span class="title">{'Sol'}</span>
						<Image
							src={imgSol}
							alt={"The Sun"}
							loading="lazy"
							decoding="async"
						/>
					</a>
					
					<a class="card" href={`/uranus/`}>
						<span class="title">{'Uranus'}</span>
						<Image
							src={imgUranus}
							alt={"The planet Uranus"}
							loading="lazy"
							decoding="async"
						/>
					</a>					

					<a class="card" href={`/venus/`}>
						<span class="title">{'Venus'}</span>
						<Image
							src={imgVenus}
							alt={"The planet Venus"}
							loading="lazy"
							decoding="async"
						/>
					</a>

					<a class="card" href={`/pleiades/`}>
						<span class="title">{'Pleiades'}</span>
						<Image
							src={imgPleiades}
							alt={"The Seven Sisters Star Cluster"}
							loading="lazy"
							decoding="async"
						/>
					</a>
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.card {
		display: grid;
		grid-template: auto 1fr / auto 1fr;
		height: 11rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		overflow: hidden;
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		font-weight: 500;
		transition: box-shadow var(--theme-transition);
	}

	.card:hover {
		box-shadow: var(--shadow-md);
	}

	.title {
		grid-area: 1 / 1 / 2 / 2;
		z-index: 1;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background: var(--gray-999);
		color: var(--gray-200);
		border-radius: 0.375rem;
	}

	img {
		grid-area: 1 / 1 / 3 / 3;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (min-width: 50em) {
		.card {
			height: 22rem;
			border-radius: 1.5rem;
		}

		.title {
			border-radius: 0.9375rem;
		}
	}
</style>
